

.dailyWeather-div{
    width:300px;
    height:300px;
    padding:10px;
    margin:60px;
    margin:auto;
    background-color:#9ce5da;
    
    
}

.temp{
    font-size:40px;
}


.weather-list-item{
    width:200px;
    height:220px;
    padding-left:20px;
    float:left;
    margin-right:100px;
    margin-left:20px;
    
    
    background-color:#9ce5da;
}
.first-row{
    margin-top:10px;
    height:250px;
}
.second-row{
    margin-top:0px;
    height:250px;
}
.item2{
    margin-top:-20px;
    
}

.item3{
    margin-top:-20px;
}

.item6{
    margin-top:-20px;
}
.item4{
    margin-top:0px;
}




